@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
	margin: 0;
	padding: 0; 
	font-family: "DM Sans";
}

body {
	width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navbar {
  justify-content: space-between;
	width: 80%;
	height: 60px;
	display: flex;  
  box-shadow: 0px 10px 100px 1px #90a170;
  position: fixed;
  top: 15px;
  border-radius: 30px;
  background-color: #fff;
}
.navbar .brand{
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.navbar .brand img{
  margin: 10px;
}.navbar img {
	width: 40px;
	height: 40px;
}
.navbar .navelem {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navelem a{
  color: #000;
}
.main {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
svg {
  brightness: 0%;
  cursor: pointer;
}
h1 {
  text-align: center;
  margin: 20px;
}
.main img {
  border-radius: 20px;
  height 300px
  margin: 10px
}
a{margin: 10px;}

.main p{
  margin-top: 20px;
  width: 700px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
}
svg {
  fill: #000;
  width: 20px;
  height: 20px;
  margin: 10px
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.card {
  width: 600px;
  height: 140px;
  border: 1px  #ededed solid; 
  padding: 20px;
  margin: 10px;
  border-radius: 15px
}
.card p {
  text-align: left;
   margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  font-size: 15px;
  line-height: 20px;
}
.card li {
  text-align: left;
  line-height: 15px;
  margin-left: 20px; 
   margin-top: 0px;
  margin-bottom: 10px;
  width: auto;
  font-size: 15px;
}
.cards ul, ol {
  margin-top: 10px;
}
.shapes{
  position: fixed;
  right: 30%;
  top: 30%;
  transform: rotate(-45deg);
  display: flex;
  align-items: end;
  gap: 5rem;
  z-index: -10;
}
.shape{
  mix-blend-mode: multiply;
  filter: blur(70px);
}

.shapes .shape.color2{
  height: 23rem;
  width: 100px;
  background-color: #94c7b0;
  animation-duration: 10s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  z-index: -10;
}

.shapes .shape.color3{
  animation-duration: 15s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  background-color: #C8DA9A;
  height: 17rem;
  width: 80px;
  z-index: -10;
}
.shapes .shape.color1{
  display: none;
  }
